# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
ClientSide/node_modules
ServerSide/node_modules
ClientSide/npm-debug.log
ClientSide/yarn-error.log

# IDEs and editors
ClientSide/.idea/
ClientSide/.project
ClientSide/.classpath
ClientSide/.c9/
ClientSide/*.launch
ClientSide/.settings/
ClientSide/*.sublime-workspace

# Visual Studio Code
ClientSide/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
ClientSide/.angular/cache
ClientSide/.sass-cache/
ClientSide/connect.lock
/ClientSide/coverage
ClientSide/libpeerconnection.log
ClientSide/testem.log
ClientSide/typings

# System files
ClientSide/.DS_Store
ClientSide/Thumbs.db
