#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
}

/* Styles pour le fond d'écran noir */
body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}