<div class="h-full bg-orange-700 text-white" #hTotDiv>
    <div class="h-1/3 w-full flex items-center justify-center">
        <circle-progress [radius]="radiusBar" [space]="-5" [outerStrokeGradient]="true" [outerStrokeWidth]="5"
            [outerStrokeColor]="'#76C2AF'" [outerStrokeGradientStopColor]="'#58d256'" [innerStrokeColor]="'#ffffff'"
            [innerStrokeWidth]="5" [imageSrc]="'../../assets/Teleport.svg'" [imageHeight]="circleSize"
            [imageWidth]="circleSize" [showImage]="true" [percent]="40" [backgroundColor]="'#213325'"
            [showBackground]="true" [showInnerStroke]="false">
        </circle-progress>
    </div>
    <div class="h-1/3 w-full flex items-center justify-center">
        <circle-progress [radius]="radiusBar" [space]="-5" [outerStrokeGradient]="true" [outerStrokeWidth]="5"
            [outerStrokeColor]="'#76C2AF'" [outerStrokeGradientStopColor]="'#58d256'" [innerStrokeColor]="'#ffffff'"
            [innerStrokeWidth]="5" [imageSrc]="'../../assets/Teleport.svg'" [imageHeight]="circleSize"
            [imageWidth]="circleSize" [showImage]="true" [percent]="85" [backgroundColor]="'#213325'"
            [showBackground]="true" [showInnerStroke]="false">
        </circle-progress>
    </div>
    <div class="h-1/3 w-full flex items-center justify-center">
        <circle-progress [radius]="radiusBar" [space]="-5" [outerStrokeGradient]="true" [outerStrokeWidth]="5"
            [outerStrokeColor]="'#76C2AF'" [outerStrokeGradientStopColor]="'#58d256'" [innerStrokeColor]="'#ffffff'"
            [innerStrokeWidth]="5" [imageSrc]="'../../assets/Teleport.svg'" [imageHeight]="circleSize"
            [imageWidth]="circleSize" [showImage]="true" [percent]="62" [backgroundColor]="'#213325'"
            [showBackground]="true" [showInnerStroke]="false">
        </circle-progress>
    </div>
</div>