.red {
    background-color: rgb(193, 65, 65) !important;
    color: white !important;
}

.green {
    background-color: rgb(30, 134, 30) !important;
    color: white !important;
}

.blue {
    background-color: rgb(30, 30, 134) !important;
    color: white !important;
}

.yellow {
    background-color: rgb(196, 173, 24) !important;
    color: rgb(0, 0, 0) !important;
    text-transform: uppercase;
}