<!-- Title of the admin panel -->
<h1 class="text-4xl text-center pt-8 text-white">Admin Panel</h1>
<!-- Grid of angular material button -->
<div class="grid grid-rows-4 p-8 grid-cols-3 gap-8">
    <button mat-raised-button class="green" (click)="greenGems()">GREEN Gems</button>
    <button mat-raised-button class="red" (click)="redGems()">RED Gems</button>
    <button mat-raised-button class="blue" (click)="blueGems()">BLUE Gems</button>
    <button mat-raised-button class="yellow" (click)="phase('Spawn')">Spawn</button>
    <button mat-raised-button class="yellow" (click)="phase('Phase 1')">Phase1</button>
    <button mat-raised-button class="yellow" (click)="phase('Phase 2')">Phase2</button>
    <button mat-raised-button class="yellow" (click)="phase('Phase 3')">Phase3</button>
    <button mat-raised-button class="yellow" (click)="phase('Phase 4')">Phase4</button>
    <button mat-raised-button class="yellow" (click)="phase('Phase 5')">Phase5</button>
    <button mat-raised-button color="rose" (click)="destroyNavy('denial')">Nothing yet</button>
    <button mat-raised-button color="primary">Nothing yet</button>
    <button mat-raised-button color="primary">Nothing yet</button>

</div>